/* style.scss */

#container {
	width:100%;
	margin:40px;
	height:50%;
	float:left;
}
#logo {
	color:#000;
    font-size:3.5em;
    font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
	background-image: url(../../img/scryer_logo.png);
	background-repeat:no-repeat;
	height:68px;
  	 & p {
	    margin-left:75px;
	    padding-top:1px;
	    line-height:60px;
	    margin-top:0;
   	}
}
#phrase {
	float:left;
	clear:both;
	width:100%;
	line-height:120px;
    font-size:8em;
    margin-top:60px;
    margin-bottom:20px;
}
.intro-first {
	margin:0px;
}
.intro-second {
	margin:30px 0 0 0;
}
.vision {
	float:left;
	margin-bottom:20px;
	font-size: 8em;
	font-weight:bold;
	border:none;
	opacity:0.25;
}
.inner-title {
	color:#000;
}
.grey {
	color:#B3B3B3;
	font-size:44%;
	line-height:100%;
	width:600px;
    font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
	font-weight:normal !important;
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
#first-word {
	font-weight:bold;
	margin-right:20px;
	float:left;
}
#second-word {
	font-weight:bold;
	margin-right:40px;
	float:left;
}
#generate {
	float:left;
	width:130px;
	height:50px;
	border-radius:8%;
	background-color:#000;
	color:white;
	font-weight:400;
	text-decoration:none;
    font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:2px;
	clear:both;
	margin-top:20px;
	& p {
		padding-left:16px;
	}
	&:hover {
		cursor:pointer;
	}
}

.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
   float:left;
   width:150px;
   display:none;
}
#footer {
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
