/* style.scss */

/* MIXINS */

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

// $width-name: max-device-width;
// $mobile-width: 400px;
// 
// 
// @media screen and ($width-name : $mobile-width) {
//   #container {
//     width:100px;
//   }
// }
//
@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: 64.375em) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 50em) { @content; }
  }
  @else if $point == small {
    @media (min-width: 37.5em)  { @content; }
  }
}

// #logo {
//   color: $black;
//   font-size: 2em;
//   font-family: $serif-family;
//   background-image: url(../../img/scryer_logo2.png);
//   background-repeat: no-repeat;
//   height: 40px;
//   margin: 20px 0 40px;
//      & p {
//       line-height: 45px;
//       margin-top: 0;
//       margin-left:55px;
//     }
// }
// 

/*
Example usage: 
@include animation(10s, 5s, changecolour)
 */
@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

/* VARIABLES */
$black: #000;
$serif-family: "Libre Baskerville","Goudy Old Style","Palatino","Book Antiqua",serif;

#container {
  width: 96%;
  margin: auto;
  padding: 2%;
  @include breakpoint(large) { width: 96%; };
  @include breakpoint(medium) { width: 80%; };
  @include breakpoint(small) { width: 60%; };
  @include animation(0s, 2s, fadein);
}
#logo {
  color: $black;
  font-size: 2.5em;
  font-family: $serif-family;
  background-image: url(../../img/scryer_logo2.png);
  @include image-2x("../../img/scryer_logo2x.png", 40px, 40px);  
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  margin: 20px 0 40px 0;
  & p {
    margin: 0;
    padding-top:55px;
    line-height: 45px;
    text-align:center;
  }
}
.github {
  position:absolute;
  right:60px;
  top:40px;
  color:#B3B3B3;
  text-decoration:none;
  font-size:0.85em;
}
.contact {
  position:absolute;
  left:60px;
  top:40px;
  color:#B3B3B3;
  text-decoration:none;
  font-size:0.85em;
}


#phrase {
  float: left;
  clear: both;
  width: 100%;
  font-size: 3em;
  margin: 0px;
  text-align:center;
  line-height:1.75em;
  @include breakpoint(large) { font-size: 6em !important; padding-top:60px !important; line-height:2em !important; };
  @include breakpoint(medium) { font-size: 5em; padding-top:20px; };
}
.intro-first {
  margin: 0px 20px;
  line-height: 30px;
  padding:0;
  @include breakpoint(large) { line-height:2.1em; };
  @include breakpoint(medium) { line-height:1.25em; };
}
.intro-second {
  margin: 30px 20px 20px 20px;
  line-height: 30px;
  padding:0;
  @include breakpoint(large) { line-height:2.1em; };
  @include breakpoint(medium) { line-height:1.25em; };
}
.vision {
  float: left;
  margin-bottom: 20px;
  font-size: 8em;
  font-weight: bold;
  border: none;
  opacity: 0.25;
}
.inner-title {
  color: $black;
}
.grey {
  color:#B3B3B3;
  font-size:44%;
  line-height:100%;
  font-family: $serif-family;
  font-weight:normal !important;
  margin-top: -25px !important;
}
#first-word {
  font-weight:bold;
  float:left;
  margin:0px;
  text-align:center;
  width:100%;
  padding-top:25px;
  line-height:30px;
}
#second-word {
  font-weight:bold;
  float:left;
  text-align:center;
  width:100%;
  line-height:10px;
}
#generate {
  position: absolute;
  bottom:20px;
  float:left;
  width:90%;
  margin-left:10px;
  height:65px;
  border-radius:8px;
  background-color:#000;
  color:white;
  font-weight:400;
  text-decoration:none;
  font-family: $serif-family;
  text-transform:uppercase;
  font-weight:bold;
  letter-spacing:2px;
  clear:both;
  @include breakpoint(large) { width: 96%; };
  @include breakpoint(medium) { width: 80%; };
  @include breakpoint(small) { width: 60%; };
  & p {
    text-align:center;
    line-height:30px;
  }
  &:hover {
    cursor:pointer;
  }
}

.amp {
  float:left;
  clear:both;
  font-family: $serif-family;
  font-size: 80%;
  font-style: italic;
  float: left;
  width: 100%;
  display:none;

}
#footer {
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
