/* style.scss */
/* MIXINS */
/*
Example usage: 
@include animation(10s, 5s, changecolour)
 */
/* VARIABLES */
/* line 85, ../sass/style.scss */
#container {
  width: 96%;
  margin: auto;
  padding: 2%;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadein;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 2s;
  -moz-animation-name: fadein;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 2s;
  -o-animation-name: fadein;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: fadein;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
@media (min-width: 64.375em) {
  /* line 85, ../sass/style.scss */
  #container {
    width: 96%;
  }
}
@media (min-width: 50em) {
  /* line 85, ../sass/style.scss */
  #container {
    width: 80%;
  }
}
@media (min-width: 37.5em) {
  /* line 85, ../sass/style.scss */
  #container {
    width: 60%;
  }
}

/* line 94, ../sass/style.scss */
#logo {
  color: black;
  font-size: 2.5em;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  background-image: url(../../img/scryer_logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  margin: 20px 0 40px 0;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  /* line 94, ../sass/style.scss */
  #logo {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../../img/scryer_logo2x.png");
    background-size: 40px 40px;
  }
}
/* line 104, ../sass/style.scss */
#logo p {
  margin: 0;
  padding-top: 55px;
  line-height: 45px;
  text-align: center;
}

/* line 111, ../sass/style.scss */
.github {
  position: absolute;
  right: 60px;
  top: 40px;
  color: #B3B3B3;
  text-decoration: none;
  font-size: 0.85em;
}

/* line 119, ../sass/style.scss */
.contact {
  position: absolute;
  left: 60px;
  top: 40px;
  color: #B3B3B3;
  text-decoration: none;
  font-size: 0.85em;
}

/* line 129, ../sass/style.scss */
#phrase {
  float: left;
  clear: both;
  width: 100%;
  font-size: 3em;
  margin: 0px;
  text-align: center;
  line-height: 1.75em;
}
@media (min-width: 64.375em) {
  /* line 129, ../sass/style.scss */
  #phrase {
    font-size: 6em !important;
    padding-top: 60px !important;
    line-height: 2em !important;
  }
}
@media (min-width: 50em) {
  /* line 129, ../sass/style.scss */
  #phrase {
    font-size: 5em;
    padding-top: 20px;
  }
}

/* line 140, ../sass/style.scss */
.intro-first {
  margin: 0px 20px;
  line-height: 30px;
  padding: 0;
}
@media (min-width: 64.375em) {
  /* line 140, ../sass/style.scss */
  .intro-first {
    line-height: 2.1em;
  }
}
@media (min-width: 50em) {
  /* line 140, ../sass/style.scss */
  .intro-first {
    line-height: 1.25em;
  }
}

/* line 147, ../sass/style.scss */
.intro-second {
  margin: 30px 20px 20px 20px;
  line-height: 30px;
  padding: 0;
}
@media (min-width: 64.375em) {
  /* line 147, ../sass/style.scss */
  .intro-second {
    line-height: 2.1em;
  }
}
@media (min-width: 50em) {
  /* line 147, ../sass/style.scss */
  .intro-second {
    line-height: 1.25em;
  }
}

/* line 154, ../sass/style.scss */
.vision {
  float: left;
  margin-bottom: 20px;
  font-size: 8em;
  font-weight: bold;
  border: none;
  opacity: 0.25;
}

/* line 162, ../sass/style.scss */
.inner-title {
  color: black;
}

/* line 165, ../sass/style.scss */
.grey {
  color: #B3B3B3;
  font-size: 44%;
  line-height: 100%;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal !important;
  margin-top: -25px !important;
}

/* line 173, ../sass/style.scss */
#first-word {
  font-weight: bold;
  float: left;
  margin: 0px;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  line-height: 30px;
}

/* line 182, ../sass/style.scss */
#second-word {
  font-weight: bold;
  float: left;
  text-align: center;
  width: 100%;
  line-height: 10px;
}

/* line 189, ../sass/style.scss */
#generate {
  position: absolute;
  bottom: 20px;
  float: left;
  width: 90%;
  margin-left: 10px;
  height: 65px;
  border-radius: 8px;
  background-color: #000;
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  clear: both;
}
@media (min-width: 64.375em) {
  /* line 189, ../sass/style.scss */
  #generate {
    width: 96%;
  }
}
@media (min-width: 50em) {
  /* line 189, ../sass/style.scss */
  #generate {
    width: 80%;
  }
}
@media (min-width: 37.5em) {
  /* line 189, ../sass/style.scss */
  #generate {
    width: 60%;
  }
}
/* line 209, ../sass/style.scss */
#generate p {
  text-align: center;
  line-height: 30px;
}
/* line 213, ../sass/style.scss */
#generate:hover {
  cursor: pointer;
}

/* line 218, ../sass/style.scss */
.amp {
  float: left;
  clear: both;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 80%;
  font-style: italic;
  float: left;
  width: 100%;
  display: none;
}

@keyframes fadein {
  /* line 232, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 235, ../sass/style.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  /* line 240, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 243, ../sass/style.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  /* line 248, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 251, ../sass/style.scss */
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  /* line 256, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 259, ../sass/style.scss */
  to {
    opacity: 1;
  }
}
