/* style.scss */
/* MIXINS */
/*
Example usage: 
@include animation(10s, 5s, changecolour)
 */
/* VARIABLES */
/* line 73, ../sass/style.scss */
#container {
  width: 96%;
  margin: auto;
  padding: 2%;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadein;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 2s;
  -moz-animation-name: fadein;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 2s;
  -o-animation-name: fadein;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 2s;
  animation-name: fadein;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
}
@media (min-width: 64.375em) {
  /* line 73, ../sass/style.scss */
  #container {
    width: 96%;
  }
}
@media (min-width: 50em) {
  /* line 73, ../sass/style.scss */
  #container {
    width: 80%;
  }
}
@media (min-width: 37.5em) {
  /* line 73, ../sass/style.scss */
  #container {
    width: 60%;
  }
}

/* line 82, ../sass/style.scss */
#logo {
  color: black;
  font-size: 2.5em;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  background-image: url(../../img/scryer_logo2.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  margin: 20px 0 40px 0;
}
/* line 91, ../sass/style.scss */
#logo p {
  margin: 0;
  padding-top: 55px;
  line-height: 45px;
  text-align: center;
}

/* line 98, ../sass/style.scss */
#phrase {
  float: left;
  clear: both;
  width: 100%;
  font-size: 3em;
  margin: 0px;
  text-align: center;
  line-height: 1.75em;
}
@media (min-width: 64.375em) {
  /* line 98, ../sass/style.scss */
  #phrase {
    font-size: 8em;
  }
}
@media (min-width: 50em) {
  /* line 98, ../sass/style.scss */
  #phrase {
    font-size: 6em;
    line-height: 2em;
    padding-top: 20px;
  }
}

/* line 109, ../sass/style.scss */
.intro-first {
  margin: 0px 20px;
  line-height: 30px;
  padding: 0;
}

/* line 114, ../sass/style.scss */
.intro-second {
  margin: 30px 20px 20px 20px;
  line-height: 30px;
  padding: 0;
}

/* line 119, ../sass/style.scss */
.vision {
  float: left;
  margin-bottom: 20px;
  font-size: 8em;
  font-weight: bold;
  border: none;
  opacity: 0.25;
}

/* line 127, ../sass/style.scss */
.inner-title {
  color: black;
}

/* line 130, ../sass/style.scss */
.grey {
  color: #B3B3B3;
  font-size: 44%;
  line-height: 100%;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-weight: normal !important;
}

/* line 137, ../sass/style.scss */
#first-word {
  font-weight: bold;
  float: left;
  margin: 0px;
  text-align: center;
  width: 100%;
  padding-top: 25px;
  line-height: 30px;
}

/* line 146, ../sass/style.scss */
#second-word {
  font-weight: bold;
  float: left;
  text-align: center;
  width: 100%;
  line-height: 10px;
}

/* line 153, ../sass/style.scss */
#generate {
  position: absolute;
  bottom: 20px;
  float: left;
  width: 90%;
  margin-left: 10px;
  height: 65px;
  border-radius: 8px;
  background-color: #000;
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  clear: both;
}
@media (min-width: 64.375em) {
  /* line 153, ../sass/style.scss */
  #generate {
    width: 96%;
  }
}
@media (min-width: 50em) {
  /* line 153, ../sass/style.scss */
  #generate {
    width: 80%;
  }
}
@media (min-width: 37.5em) {
  /* line 153, ../sass/style.scss */
  #generate {
    width: 60%;
  }
}
/* line 173, ../sass/style.scss */
#generate p {
  text-align: center;
  line-height: 30px;
}
/* line 177, ../sass/style.scss */
#generate:hover {
  cursor: pointer;
}

/* line 182, ../sass/style.scss */
.amp {
  float: left;
  clear: both;
  font-family: "Libre Baskerville", "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 80%;
  font-style: italic;
  float: left;
  width: 100%;
  display: none;
}

@keyframes fadein {
  /* line 196, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 199, ../sass/style.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  /* line 204, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 207, ../sass/style.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  /* line 212, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 215, ../sass/style.scss */
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  /* line 220, ../sass/style.scss */
  from {
    opacity: 0;
  }

  /* line 223, ../sass/style.scss */
  to {
    opacity: 1;
  }
}
